<% @page_title = "404 - 找不到页面"  %>

<div class="page page-errors">
    <%= render 'layouts/frontend/header' %>

    <div class="error-main">
        <h1 class="error-title">404</h1>
        <p>抱歉，您打开的页面好像不存在。</p>
        <p>Oops! The page you requested was not found!</p>
    </div>
</div>

<%= render 'layouts/frontend/footer' %>
