<% @page_title = "500 - 服务器出现错误"  %>

<div class="page page-errors">
    <%= render 'layouts/frontend/header' %>

    <div class="error-main">
        <h1 class="error-title">500</h1>
        <p>抱歉，您打开的页面好像出错了。</p>
        <p>We're sorry, but something went wrong.</p>
    </div>
</div>

<%= render 'layouts/frontend/footer' %>
