@import 'frontend/base';

#frontend-welcome-index {
  .header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    background-color: transparent;

    .link {
      color: #fff;

      &:hover {
        color: $ui-color;
      }
    }
  }

  .link-show-all {
    position: absolute;
    top: 550px;
    right: 0;
    left: 0;
    margin: auto;
    width: 180px;
    height: 50px;
    color: #fff;
    line-height: 50px;
    text-align: center;
    background-color: transparent;
    border: 1px solid #fff;
    @include transition(300ms);

    &:hover {
      border-color: $ui-color;
      background-color: $ui-color;
    }
  }

  .section {
    position: relative;

    .horizontal {
      height: 50%;

      &.bottom {
        font-size: 0;
      }
    }

    .vertical {
      display: inline-block;
      width: 50%;
      height: 100%;
    }
  }

  .section-jumbotron {
    background: image-url('redesign/jumbotron.jpg') top center no-repeat;
  }

  .section-one {
    .top {
      background: image-url('redesign/section-1-header.png') center no-repeat;
    }

    .left {
      background: #FCFCFC image-url('redesign/section-1-left.png') center no-repeat;
    }

    .right {
      background: #FCFCFC image-url('redesign/section-1-right.png') center no-repeat;
    }

    .vertical {
      position: relative;
      background-size: 100%;
      background-position-y: 65%;
      border: 3px solid #FCFCFC;
      @include transition(300ms, border-color);

      &:hover {
        border-color: #EFEFEF;

        .tip {
          opacity: 1;
        }
      }

      .tip {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        width: 150px;
        height: 30px;
        color: #fff;
        font-size: 14px;
        line-height: 30px;
        text-align: center;
        opacity: 0;
        background-color: $ui-color;
        @include transition(300ms, opacity);
      }
    }
  }

  .section-two {
    .top {
      background: image-url('redesign/section-2-header.png') center no-repeat;
    }

    .left {
      background: image-url('redesign/section-2-left.jpg') center no-repeat;
      background-size: cover;
    }

    .right {
      background: image-url('redesign/section-2-right.jpg') center no-repeat;
      background-size: cover;
    }
  }

  .section-three {
    background: image-url('redesign/section-3.jpg') top center no-repeat;
    background-size: cover;
    background-position-y: -150px;

    .footer {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }
}
