@import 'frontend/base';

#frontend-welcome-index {
  background:#fff;
  #fp-nav {
    .active span {
      background-color: transparent;
      border: 1px solid rgba(0, 0, 0, 0.6);
    }
    span {
      background-color: rgba(0, 0, 0, 0.6);
    }
  }

  .header {
    position: absolute;
    box-shadow:none;
    background-color: rgba(255,255,255,0.95);
  }

  .section{
    h2{
      font-size:30px;
      font-family:FZL11anTingHei-L-GBK    
    }
    p{
      font-size:16px;
      line-height:24px;
      color:#222;
      font-family:FZL11anTingHei-L-GBK 
    }
    .buttons{
      margin-top:5vh;
    }
    .fp-button{
      display:inline-block;
      width:7vw;
      min-width:150px;
      border-style: solid;
      border-width: .5px;
      border-radius: 2.5vw;
      margin-right: 2vw;
      line-height: 5vh;
      text-align:center;
      border-color: #9b9b9b;
      color:#5e5e5e;
      font-size:12px;
      &:hover{
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -ms-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
        -webkit-box-shadow: 0 4px 20px rgba(0,0,0,.2);
        -moz-box-shadow: 0 4px 20px rgba(0,0,0,.2);
        box-shadow: 0 4px 20px rgba(0,0,0,.2);
        border-color: #fff;
        background:#fff;
        color:#111;
      }
    }
    
  }
  .section-one{
    background:#efefef;
    .row{
      position:absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%,-50%);
      -moz-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
      -o-transform: translate(-50%,-50%);
      transform: translate(-50%,-50%);
    }
    

  }
  .section-ceremony{

    .row{   
      position:absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%,-50%);
      -moz-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
      -o-transform: translate(-50%,-50%);
      transform: translate(-50%,-50%);  
      h2{
        margin: .67em 0;
        text-align:center;
      }
      p{
        margin-top: 4vh;
        text-align:center;
      }

    }
  }
  .section-well-chosen{
    background: #000 image-url('redesign/diamond.jpg') center no-repeat;
    background-size: cover;
    .row{
      position:absolute;
      top: 50%;
      left: 30%;
      -webkit-transform: translate(-30%,-50%);
      -moz-transform: translate(-30%,-50%);
      -ms-transform: translate(-30%,-50%);
      -o-transform: translate(-30%,-50%);
      transform: translate(-30%,-50%);
      h2{
        margin: .67em 0;   
        line-height:2em;   
      }
      p{
        line-height:2em;
      }
      .fp-image{margin-top:30px;}
    }
  }
  .section-hca{


    @include transition(1000ms, background);
    .row{
     
      width:42vw;
      min-width:750px;
      height:28vh;
      min-height:250px;
      position:absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%,-50%);
      -moz-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
      -o-transform: translate(-50%,-50%);
      transform: translate(-50%,-50%);
      h2{
        font-size:30px;
        text-align:center;
        padding:1em 0;
      }
      p{
        font-size:14px;
        text-align:center;
        line-height:36px;
        .fp-button{
          margin-top:30px;
        }
      }
      
    }
  }
  .section-supplier{
    background: image-url('redesign/supplier.jpg') center no-repeat;
    background-size: cover;
    @include transition(1000ms, background);
    .row{
      position:absolute;
      top:50%;
      left:50%;
      -webkit-transform: translate(-50%,-50%);
      -moz-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
      -o-transform: translate(-50%,-50%);
      transform: translate(-50%,-50%);
      h2{
        padding:60px 0;
        text-align:center;
      }
    }
  }
    
  .section-last {
    background: image-url('redesign/section-6.jpg') center no-repeat;
    background-size: cover;

    .fp-content{
      position:absolute;
      top:30vh;
      left:50%;
      margin-left:-156px;      
      h2{
        text-align:center;
        color:#fff;
        font-size:24px;
        margin-bottom:20px;
      }
      p{
        text-align:center;        
      }
    }
    
    footer {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }
}
