<% @page_title = "GIA证书查询" %>

<%= render 'layouts/frontend/header' %>

<div class="form-sign">
    <div class="form-group">
        <p class="title">GIA查询结果</p>
    </div>
    <% @gia_infos.each do |k, v| %>
      <div class="form-group">
          <div class="input-group">
              <span class="input-group-addon">
                  <span><%= k %></span>
              </span>
              <%= v %>
          </div>
      </div>
    <% end %>
</div>
