<% @page_title = "GIA证书查询" %>

<%= render 'layouts/frontend/header' %>
    <style type="text/css">
        .navigation-text{
            background-color: black;
            height: 320px;
            text-align: center;
        }
        .headline-text{
            padding-top: 100px;
            padding-bottom: 10px;
            color: #fff;
            font-weight: bold;
            font-size: x-large;
        }
        .search-text1 input{
            height: 35px;
            width: 400px;
            background-color: #000;
            border:solid #fff 1px;
            margin-top: 15px;
            position: relative;
            right: 20px;
            
        }
        .search-button{
            background: #b22222;
            color: #fff;
            width: 60px;
            height: 38.5px;
            border: 1px;
            border-radius:5px;
            position: relative;
            bottom:38px;
            left: 214px;
        }
        .search-last{
            margin-top: -10px;
            font-size: xx-small; 
        }
        .search-last a{
            text-decoration:none
        }
    </style>


<%= form_tag gia_certificate_path do %>
  <div class="navigation-text">
      <div class="headline-text"><strong >GIA证书查询</strong></div>
          <div class="search-text1">      
              <input type="text" name="gia_number" style="color: #fff;padding-left:10px;" placeholder="请输入证书号"/>
          </div>    
              <input class="search-button" type="submit" value="查询" />
          <div class="search-last">
              <span style="color: #fff">其他钻石评估工具：</span><a href="#" style="color: red">HCA火彩评估</a>
          </div>
      </div>
  </div> 
<% end %>


<% if @gia_infos.any? %>
    <div class="form-sign">
        <div class="form-group">
            <p class="title">GIA查询结果</p>
        </div>
        <% @gia_infos.each do |k, v| %>
          <div class="form-group">
              <div class="input-group">
                  <span class="input-group-addon">
                      <span><%= k %></span>
                  </span>
                  <%= v %>
              </div>
          </div>
        <% end %>
    </div>
<% end %>

