.navigation-text{
    position: relative;
    background-color: black;
    min-height: 320px;
    font-weight: bold;
    text-align: center;
}
.headline-text{
    padding-top: 55px;
    padding-bottom: 10px;
    color: #fff;
    font-size: x-large;
}
.font-text{
    color:#fff;
}
.search-text1 input{
    height: 35px;
    width: 165px;
    background-color: #000;
    border:solid #fff 1px;
    border-radius:5px;
    margin-left: 20px;
    margin-top: 20px;
}
.search-text1{
    position: relative;
    right:100px;
}
.search-text2 input{
    height: 35px;
    width: 165px;
    background-color: #000;
    border:solid #fff 1px;
    border-radius:5px;
    margin-left: 20px;
    margin-top: 20px;
}
.search-text2{
    position: absolute;
    top: 99px;
    left: 50%;
}
.search-text3 input{
    height: 35px;
    width: 165px;
    background-color: #000;
    border:solid #fff 1px;
    border-radius:5px;
    margin-left: 20px;
    margin-top: 20px;
}
.search-text3{
    position: relative;
    right: 108.5px;
}
.search-text4 input{
    height: 35px;
    width: 165px;
    background-color: #000;
    border:solid #fff 1px;
    border-radius:5px;
    margin-left: 20px;
    margin-top: 20px;
}
.search-text4{
    position: absolute;
    top: 154px;
    left: 50%;
}
.search-text5 input{
    height: 35px;
    width: 165px;
    background-color: #000;
    border:solid #fff 1px;
    border-radius:5px;
    margin-left: 20px;
    margin-top: 20px;
}
.search-text5{
    position: relative;
    right: 108px; 
}
.search-button1{
    background: #b22222;
    color: #fff;
    width: 78px;
    height: 37px;
    border: 0px;
    border-radius:5px;
    position: relative;
    bottom: 35px;
    left: 99px;
}
.search-button2{
    background: #fef8e6;
    width: 78px;
    height: 37px;
    border: 0px;
    border-radius:5px;
    position: relative;
    bottom: 35px;
    left: 106px;
}
.search-last{
    position: relative;
    font-size:x-small;
}
.search-last a{
    text-decoration:none
}
.result-text{
    text-align: center;
}
.result-first{
    font-size: xx-large;
    font-weight: bold;
    margin-top: 60px;
    margin-bottom: 20px;
}
td.form-1{
    width: 100px;
    height: 32px;
}
td.form-2{
    width: 200px;
    height: 32px;
}
.form-1rd{
    background-color: #ddd;
}
.hca-img{
    margin-top: 50px;
}
.hca-img img{
    width: 300px;
    height: 300px;
}
.line {
    height: 2px;
    width: 1000px;
    background-color: #ddd;
    margin: 0 auto;
    margin-bottom: 40px;
}