.wrapper.wrapper-content
  .row
    .col-lg-12
      .ibox.float-e-margins
        .ibox-title
          %h5 添加促销分类
        .ibox-content
          = render 'form', url: admin_promotion_category_path
