@import 'frontend/base';

#frontend-orders-build-show {
  .section-address {
    .col-md-5 p {
      font-size: 14px;
      color: $text-l;
    }

    .form-inline {
      margin-bottom: 20px;
    }

    .form-group {
      margin-right: 20px;
      vertical-align: top;

      &:last-child {
        margin-right: 0;
      }
    }

    .input-name {
      width: 145px;
    }

    .input-phone {
      width: 230px;
    }

    .input-address {
      width: 400px;
    }
  }

  .section-coupon {
    label {
      margin-right: 10px;
      font-weight: normal;
    }

    .btn {
      color: #fff;
      background-color: $ui-color;
      border-color: $ui-color;

      &:hover {
        opacity: 0.8;
      }
    }
  }

  .section-invoice {
    .form-group {
      margin-right: 30px;

      &:last-child {
        margin-right: 0;
      }
    }

    .form-group-title {
      margin-left: 10px;
      visibility: hidden;
    }
  }

  .section-items {
    main {
      padding: 20px 30px;
    }
  }

  .section-order {
    .success {
      text-align: center;

      h3 {
        position: relative;
        padding-top: 120px;

        &::before {
          content: '';
          position: absolute;
          top: -20px;
          right: 0;
          left: 0;
          margin: auto;
          width: 116px;
          height: 116px;
          background: image-url("redesign/red-right.png") center no-repeat;
          background-size: 116px;
        }
      }
    }

    .tips {
      margin-top: 40px;
      color: $text-l;
    }
  }

  .section-payment {
    .payments {
      margin-bottom: 30px;
      padding: 20px;
      font-size: 0;
      border: 1px solid #efefef;
      background-color: #fcfcfc;

      input[type="radio"] {
        display: none;
      }

      label {
        margin: 5px;
        width: 180px;
        height: 50px;
        text-align: center;
        line-height: 50px;
        border: 1px solid #ddd;
        background-color: #fff;
        cursor: pointer;
        @include transition(150ms, border-color);

        &:hover,
        &.active {
          border-color: $ui-color;
        }
      }
    }
  }

  .order-payment {
    margin: 30px 0 30px 20px;

    .price {
      font-size: 28px;
      color: $ui-color;
      font-family: sans-serif;
    }

    .right {
      text-align: right;

      span {
        display: inline-block;
        vertical-align: middle;
      }
    }

    .btn {
      margin-left: 50px;
      min-width: 150px;
      color: #fff;
      background-color: $ui-color;
      border-color: $ui-color;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}

