@import 'frontend/base';

#frontend-users-profile-show {
  label[for='user-avatar'] {
    color: #fff;
    background-color: $ui-color;
    border-color: $ui-color;

    &:hover {
      opacity: 0.8;
    }
  }

  .section {
    padding: 20px 30px;
    border-bottom: 1px solid #EFEFEF;

    &:last-child {
      border-bottom: none;
    }

    .title {
      margin-bottom: 10px;

      span {
        margin-right: 10px;
        font-size: 20px;
        color: #EEB430;
        vertical-align: sub;

        &.glyphicon-ok-circle {
          color: #6CC433;
        }
      }
    }

    .desc {
      margin-left: 35px;
      display: inline-block;
      max-width: 70%;
      font-size: 14px;
      color: $text-ll;
    }

    .link,
    .right {
      float: right;
      font-size: 14px;
    }
  }

  .avatar-preview {
    width: 100px;
    height: auto;
    float: left;
  }

  .avatar-main {
    margin-left: 120px;
  }

  .modal-profile {
    .form-group {
      width: 90%;
      margin: 20px auto 30px;
    }

    .btn {
      width: 100%;
      color: #fff;
      background-color: $ui-color;
      border-color: $ui-color;

      &:hover {
        opacity: 0.8;
      }
    }

    .input-group-addon {
      font-size: 20px;
    }
  }
}
