<div class="form-buttons">
    <%= add_to_cart_button(@product) %>
    <% if current_user %>
        <% if current_user.is_favorite? @product %>
            <%= link_to '取消收藏', favorite_path(@product.id), method: :delete, remote: true, class: 'btn btn-default btn-lg btn-collect', date: { 'disable-with' => '正在取消...'}  %>
        <% else %>
            <a href="<%= product_favorites_path(@product) %>" class="btn btn-default btn-lg btn-collect"
                data-remote="true" data-method="post" data-disable-with="正在提交...">加入收藏</a>
        <% end %>
    <% end %>

</div>

