<a href="<%= product_path(product) %>" class="product">
    <div class="product-bg" style="background-image: url('<%= product.master.images.first.picture.middle.url rescue '' %>');"></div>
    <div class="product-info">
        <p class="price"><%= number_to_currency(product.default_price, unit: '￥') %></p>
        <p class="name"><%= product.name %></p>
        <div class="link-group">
            <span>
                <span class="glyphicon glyphicon-search"></span> 查看
            </span>
            <span>
                <span class="glyphicon glyphicon-shopping-cart"></span> 购买
            </span>
        </div>
    </div>
</a>
