<div class="modal fade" id="table" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <table class="table table-bordered table-condensed">
                    <thead>
                        <tr>
                            <td>
                                <p>
                                    <font>戒指号</font>
                                </p>
                            </td>
                            <td>
                                <p>
                                    <font>周长</font>
                                    <font>(mm)</font>
                                </p>
                            </td>
                            <td>
                                <p>
                                    <font>直径</font>
                                    <font>(mm)</font>
                                </p>
                            </td>
                            <td>
                                <p>
                                    <font>说明</font>
                                </p>
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <p>
                                    <font>7</font>
                                </p>
                            </td>
                            <td>
                                <p>
                                    <font>46.0</font>
                                </p>
                            </td>
                            <td>
                                <p>
                                    <font>14.5</font>
                                </p>
                            </td>
                            <td rowspan="4">
                                <p>
                                    <font>女士小号</font>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>
                                    <font>8</font>
                                </p>
                            </td>
                            <td>
                                <p>
                                    <font>47.5</font>
                                </p>
                            </td>
                            <td>
                                <p>
                                    <font>15.1</font>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>
                                    <font>9</font>
                                </p>
                            </td>
                            <td>
                                <p>
                                    <font>48.0</font>
                                </p>
                            </td>
                            <td>
                                <p>
                                    <font>15.3</font>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>
                                    <font>10</font>
                                </p>
                            </td>
                            <td>
                                <p>
                                    <font>50.5</font>
                                </p>
                            </td>
                            <td>
                                <p>
                                    <font>16.1</font>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>
                                    <font>11</font>
                                </p>
                            </td>
                            <td>
                                <p>
                                    <font>52.0</font>
                                </p>
                            </td>
                            <td>
                                <p>
                                    <font>16.6</font>
                                </p>
                            </td>
                            <td rowspan="4">
                                <p>
                                    <font>女士均号</font>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>
                                    <font>12</font>
                                </p>
                            </td>
                            <td>
                                <p>
                                    <font>53.0</font>
                                </p>
                            </td>
                            <td>
                                <p>
                                    <font>16.9</font>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>
                                    <font>13</font>
                                </p>
                            </td>
                            <td>
                                <p>
                                    <font>53.5</font>
                                </p>
                            </td>
                            <td>
                                <p>
                                    <font>17.0</font>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>
                                    <font>14</font>
                                </p>
                            </td>
                            <td>
                                <p>
                                    <font>55.5</font>
                                </p>
                            </td>
                            <td>
                                <p>
                                    <font>17.7</font>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>
                                    <font>15</font>
                                </p>
                            </td>
                            <td>
                                <p>
                                    <font>56.5</font>
                                </p>
                            </td>
                            <td>
                                <p>
                                    <font>18.0</font>
                                </p>
                            </td>
                            <td>
                                <p>
                                    <font>女士大号</font>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>
                                    <font>16</font>
                                </p>
                            </td>
                            <td>
                                <p>
                                    <font>57.0</font>
                                </p>
                            </td>
                            <td>
                                <p>
                                    <font>18.2</font>
                                </p>
                            </td>
                            <td>
                                <p>
                                    <font>男士小号</font>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>
                                    <font>17</font>
                                </p>
                            </td>
                            <td>
                                <p>
                                    <font>57.5</font>
                                </p>
                            </td>
                            <td>
                                <p>
                                    <font>18.3</font>
                                </p>
                            </td>
                            <td rowspan="4">
                                <p>
                                    <font>男士均号</font>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>
                                    <font>18</font>
                                </p>
                            </td>
                            <td>
                                <p>
                                    <font>58.0</font>
                                </p>
                            </td>
                            <td>
                                <p>
                                    <font>18.5</font>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>
                                    <font>19</font>
                                </p>
                            </td>
                            <td>
                                <p>
                                    <font>59.0</font>
                                </p>
                            </td>
                            <td>
                                <p>
                                    <font>18.8</font>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>
                                    <font>20</font>
                                </p>
                            </td>
                            <td>
                                <p>
                                    <font>61.0</font>
                                </p>
                            </td>
                            <td>
                                <p>
                                    <font>19.4</font>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>
                                    <font>21</font>
                                </p>
                            </td>
                            <td>
                                <p>
                                    <font>62.0</font>
                                </p>
                            </td>
                            <td>
                                <p>
                                    <font>19.7</font>
                                </p>
                            </td>
                            <td rowspan="4">
                                <p>
                                    <font>男士大号</font>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>
                                    <font>22</font>
                                </p>
                            </td>
                            <td>
                                <p>
                                    <font>63.5</font>
                                </p>
                            </td>
                            <td>
                                <p>
                                    <font>20.2</font>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>
                                    <font>23</font>
                                </p>
                            </td>
                            <td>
                                <p>
                                    <font>64.0</font>
                                </p>
                            </td>
                            <td>
                                <p>
                                    <font>20.4</font>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>
                                    <font>24</font>
                                </p>
                            </td>
                            <td>
                                <p>
                                    <font>66.0</font>
                                </p>
                            </td>
                            <td>
                                <p>
                                    <font>21.0</font>
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>
