<% @page_title = "VANDODO钻石戒指" %>
<% @page_title = "VANDODO情侣对戒，铂金对戒" if params[:taxon_name] == "结婚对戒" %>

<%= render 'layouts/frontend/header' %>

<div class="page">
<!--     <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><%= image_tag 'redesign/focus-slide-2.jpg' %></div>
        </div>
        <div class="swiper-button-prev swiper-button-white"></div>
        <div class="swiper-button-next swiper-button-white"></div>
    </div> -->
    <div class="product-list">
        <% @products.each_slice(2) do |products| %>
            <div class="product-group">
                <%= render partial: "product", collection: products %>
            </div>
        <% end %>
    </div>
</div>
 // <script type='text/javascript'>
 //    var swiper = new Swiper('.swiper-container', {
 //         nextButton: '.swiper-button-next',
 //         prevButton: '.swiper-button-prev',
 //         loop : true,
 //         keyboardControl : true,
 //         effect : 'slide',
 //         autoplay : 3000
 //     });
 // </script>

<%= render 'layouts/frontend/footer' %>
