<%= render 'layouts/frontend/header' %>

<div class="page">
    <div class="product-list">
        <% @products.each_slice(2) do |products| %>
            <div class="product-group">
                <%= render partial: "product", collection: products %>
            </div>
        <% end %>
    </div>
</div>

<%= render 'layouts/frontend/footer' %>
