<% @page_title = "VANDODO钻石戒指" %>
<% @page_title = "VANDODO情侣对戒，铂金对戒" if params[:taxon_name] == "结婚对戒" %>
<%= render 'layouts/frontend/header' %>
<div class="page">
    <div class="product-list">
        <% @products.each_slice(2) do |products| %>
            <div class="product-group">
                <%= render partial: "product", collection: products %>
            </div>
        <% end %>
    </div>
</div>
<%= render 'layouts/frontend/footer' %>
