<% @page_title = "求婚钻戒定制 钻戒价格 求婚钻戒图片款式" %>
<% @page_title = "结婚对戒，情侣对戒，铂金对戒 【品牌 价格 图片】" if params[:taxon_name] == "结婚对戒" %>

<%= render 'layouts/frontend/header' %>

<div class="page">
    <div class="product-list">
        <% @products.each_slice(2) do |products| %>
            <div class="product-group">
                <%= render partial: "product", collection: products %>
            </div>
        <% end %>
    </div>
</div>

<%= render 'layouts/frontend/footer' %>
