<% @page_title = "关于我们" %>

<%= render 'layouts/frontend/header' %>

<div class="page other-pages">
    <div class="fullpage">
      <div class="section section-one">
        <div class="row">
          <div class="col fp-image">
            <%= image_tag "redesign/about-img-one.jpg" %>
          </div>
          <div class="col fp-about">
            <h2>关于我们</h2>
            <p>
              范朵朵珠宝是一个钻饰品类珠宝公司新秀，我们希望用严谨而简单的方式让钻石选择性变得容易，并且物超所值。
              每一个点子的萌起都起源于一个问题，
              2015年在深圳注册成立，前后经过近一年时间的筹备跌跌撞撞推出来，经历了从信心满心->恐惧->怀疑->前后经过接近一年的时间，
            </p>
          </div>
        </div>
      </div>
      <div class="section section-two">
        <div class="row">
          <h2>“谨以VANDODO，献给永远的“范朵朵”！献给相爱的你们!”</h2>
          <h3>——Vandodo Founder / KK</h3>
        </div>
      </div>
    </div>
</div>

