<% @page_title = "法律声明及使用条款" %>

<%= render 'layouts/frontend/header' %>

<div class="page other-pages">
    <div class="statement-header"></div>
    <div class="container">

    </div>
</div>

<%= render 'layouts/frontend/footer' %>
