/* Only demo */
@media (max-width: 1000px) {
  .welcome-message {
    display: none;
  }
}

.lightBoxGallery {
  text-align: center;
}

.lightBoxGallery img {
  margin: 5px;
}

/* Fix Form bug */
.form-group label.file {
  border: none;
  padding-right: 15px;
  margin-right: 0px;
}
