<%= render 'layouts/frontend/header' %>

<div class="page">
    <div class="container">
        <%= render 'frontend/users/registrations/form' %>
    </div>
</div>

<%= render 'layouts/frontend/footer' %>
