<% @page_title = "注册账号"  %>

<%= render 'layouts/frontend/header' %>

<div class="page">
    <div class="container">
        <%= render 'frontend/users/registrations/form' %>
    </div>
</div>
