<%= render 'layouts/frontend/header' %>

<div class="page user-center">
    <div class="container">
        <%= render 'frontend/users/sidebar' %>
        <div class="user-center-main">

        </div>
    </div>
</div>

<%= render 'layouts/frontend/footer' %>
