<%= render 'layouts/frontend/header' %>

<div class="sub-container">
    <div class="clearfloat">
        <%= render 'frontend/users/sidebar' %>

        <div class="sub-mainright">
            <div class="box-white min-h820">
                <div class="user-title-bar clearfloat">
                    <div class="t-left">绑定邮箱</div>
                </div>
                <div class="padd30">
                    <p class="font-s14 m0">您的邮箱：<b class="c-purple">4********5@qq.com</b> 还未绑定，请立即绑定</p>
                    <input type="button" id="" value="绑 定" class="btn-red2 mt20" />
                </div>
            </div>
        </div>
    </div>

    <%= render 'layouts/frontend/footer' %>
</div>
