.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    %h2 优惠劵管理
    %ol.breadcrumb
      %li
        = link_to '首页', admin_path
      %li.active
        %strong 优惠劵
.wrapper.wrapper-content
  .row
    .col-lg-12
      .ibox.float-e-margins
        .ibox-title
          %h5 优惠码
        .ibox-content
          = render 'form'
  .row
    .col-lg-12
      .ibox.float-e-margins
        .ibox-title
          %h5 Rule
        .ibox-content
          = render 'rule_form', url: rule_form_url
  .row
    .col-lg-12
      .ibox.float-e-margins
        .ibox-title
          %h5 Action
        .ibox-content
          = render 'action_form', url: action_form_url
