# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: ac0755c34f13185ea7b0ed4e3a9871247704e539da2d31b600812f028c41a0e429b97647da4da453c564e7e1aa2f00af21fe6ea229d67c4e458962a15e798939

test:
  secret_key_base: a8e6eabd3634a2e935a27518804cd661159a152cd2b5aa49305ef5972ee0dcfc38fa726c9a7debf9a27c726638b57f7d3efe75b14484709aab22b923fcb178f5

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
