@import 'frontend/base';

header {
  height: 60px;
  line-height: 60px;
  background-color: #fff;
  border-bottom:1px #efefef solid;
  position: relative;
  z-index: 8;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;


  .menu{
    width:60px;
    height:48px;
    position:absolute;
    left:35px;
    top:50%;
    margin-top:-25px;
    background:image-url('redesign/icon-menu.png') center no-repeat;
    &:hover{
      @include transition(300ms, all);
      background:$ui-color image-url('redesign/icon-menu-light.png') center no-repeat;
    }
    
  }

  .logo {
    position: absolute;
    top:0;
    left: 50%;
    margin-left:-88px;
    width: 176px;
    height: 60px;
    text-indent: -9999px;
    background: image-url('logo-dark.png') no-repeat center;
  }



  a{
    @include transition(300ms, all);
    font-size: 20px;
    color: $text;
    text-align: center;

    &:hover {
      color: $ui-color;
      border-color:$ui-color;
    }

    &.link-toggle-right-nav {
      font-size: 14px;
      margin-left:5px;
    }
    
  }


  

  .avatar {
    margin-top: -8px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
  }

  .toolbar {
    position: absolute;
    top: 0;
    right: 35px;
    .user{
      display:inline-blok;

    }
    .link-shopping-cart{
      border:1px #9b9b9b solid;
      border-radius: 2px;
      padding:6px 6px;
      margin-right:20px;
      &:hover{
        background-color:$ui-color;
        color:#fff;
        border-color: $ui-color;
      }
  }
    .btn-group {
      vertical-align: top;
    }

    .dropdown-menu {
      text-align: center;
      box-shadow: none;
      border-radius: 0;
    }
  }
}
