@import 'frontend/base';

header {
  height: 75px;
  line-height: 75px;
  top:0;
  background-color: rgba(255, 255, 255, .95);
  box-shadow: 0 2px 4px rgba(0,0,0,.1);
  position: fixed;
  z-index: 8;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;


  .menu{
    width:50px;
    height:50px;
    position:absolute;
    left:35px;
    top:50%;
    margin-top:-25px;
    background:image-url('redesign/icon-menu.png') center no-repeat;
    &:hover{
      @include transition(300ms, all);
      background:$ui-color image-url('redesign/icon-menu-light.png') center no-repeat;
    }
    
  }

  .logo {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 176px;
    height: 50px;
    text-indent: -9999px;
    background: image-url('logo-dark.png') no-repeat center;
  }



  a{
    @include transition(300ms, all);
    font-size: 20px;
    color: $text;
    text-align: center;

    &:hover {
      color: $ui-color;
      border-color:$ui-color;
    }

    &.link-toggle-right-nav {
      font-size: 14px;
      margin-left:5px;
    }
    
  }

  .signup{
    border:1px #666 solid;
    padding:8px 20px;
  }
  .signin{
    background:$ui-color;
    color:#fff;
    padding:8px 20px;
    &:hover{
      background:#39cb80;
      color:#fff;
    }
  }

  .avatar {
    margin-top: -8px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
  }

  .toolbar {
    position: absolute;
    top: 0;
    right: 35px;
    

    .btn-group {
      vertical-align: top;
    }

    .dropdown-menu {
      text-align: center;
      box-shadow: none;
      border-radius: 0;
    }
  }
}
