@import 'frontend/base';

.global-nav {
  position: fixed;
  left: -50%;
  width: 50%;
  background-color: $ui-color;
  z-index: 99;

  ul {
    position: absolute;
    top: -100px;
    right: 196px;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 200px;
    padding: 40px 0;
    height: 400px;
    font-size: 18px;
    list-style: none;
    line-height: 48px;
    text-align: right;
    border-right: 1px solid #fff;

    a {
      display: block;
      padding-right: 10px;
      color: #fff;
      @include transition(300ms);

      &:hover {
        background-color: #E88489;
      }

      &.active {
        margin-right: -5px;
        pointer-events: none;
        border-right: 5px solid #fff;
      }
    }
  }

  .link-close-nav {
    position: absolute;
    right: 35px;
    top: 0;
    width: 44px;
    height: 60px;
    font-size: 20px;
    line-height: 60px;
    color: #fff;
    text-align: center;

    &:hover {
      color: $text;
    }
  }

  .qrcode {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 20px;
    margin: auto;
    width: 135px;
    height: 135px;
    background-image: image-url('icon-qrcode.png');
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    @include transition(300ms);

    &:hover {
      background-image: image-url('qrcode.png');
    }
  }
}
