@import 'frontend/base';

#sidebar {
  position: fixed;
  right: -460px;
  z-index: 101;
  background-color: #fff;
}

#sidebar-cart {
  height: 100%;
  overflow: auto;

  &.loading {
    width: 40px;
    height: 40px;
    position:absolute;
    top:50%;
    margin-top:-20px;
    left:50%;
    margin-left:-20px;
    background-color: $ui-color;
    -webkit-animation: rotateplane 1.2s infinite ease-in-out;
    animation: rotateplane 1.2s infinite ease-in-out;

  }

  .cart-header {
    position: absolute;
    width: 100%;
    top: 20px;
    padding: 0 30px;
    font-size: 18px;
    line-height: 60px;
    background-color: #fff;
    z-index: 102;
  }

  .cart-footer {
    position: absolute;
    width: 100%;
    height: 80px;
    bottom: 0;
    padding: 0 30px;
    background-color: #F8F8F8;

    .cart-info {
      padding-top: 15px;
    }

    .total-quantity {
      font-size: 14px;
      color: $text-ll;
    }

    .total-price {
      font-size: 16px;

      span::before {
        content: '￥';
      }
    }

    .btn-payment {
      position: absolute;
      right: 20px;
      bottom: 16px;
      font-size:14px;
      background-color: $ui-color;
      border-color: $ui-color;

      &:hover {
        opacity: 0.8;
      }
    }
  }

  .link-close-sidebar {
    position: absolute;
    right: 0;
    top: 0;
    width: 44px;
    height: 60px;
    color: $text;
    font-size: 20px;
    line-height: 60px;
    text-align: center;

    &:hover {
      color: $ui-color;
    }
  }

  .init {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    height: 24px;
    text-align: center;
    font-size: 18px;
    line-height: 1;
  }

  .cart-table {
    height: 100%;
    padding: 80px 10px 80px;
    overflow: auto;

    th, td {
      text-align: right;
      vertical-align: middle;
      border: none;
    }

    th {
      font-size: 14px;
    }

    td {
      color: $text-l;
    }

    .name {
      text-align: left;
      span {
        display: block;
        font-size: 12px;
      }
    }

    a {
      color: $text;

      &:hover {
        color: $ui-color;
      }
    }
  }
}

#sidebar-profile {
  .profile-header {
    padding: 60px 0 50px;
    text-align: center;

    .name {
      margin: 30px 0 20px;
    }
  }

  .profile-links a {
    display: block;
    height: 90px;
    padding: 0 50px;
    line-height: 90px;
    color: $text-ll;
    background-color: #fff;
    @include transition(300ms);

    &:hover {
      background-color: #EFEFEF;
    }

    .glyphicon {
      margin-right: 5px;
    }
  }
}

.form-sign {
  margin: auto;
  padding: 60px 50px;
  width: 460px;
  text-align: center;


  .title {
    margin-bottom: 40px;
    font-size: 18px;
  }

  .form-group {
    margin-bottom: 30px;
  }

  .form-control {
    height: 50px;
  }

  .input-group-addon {
    font-size: 18px;
    color: $text-ll;
  }

  .btn {
    height: 50px;
    color: #fff;
    font-size: 16px;
    background-color: $ui-color;
    border: none;

    &:hover {
      opacity: 0.8;
    }
  }

  .links {
    margin-top: 40px;
    font-size: 14px;
    color: $text-ll;

    .link {
      padding: 0 5px;
      color: $text-ll;

      &:hover {
        color: $ui-color;
      }
    }

    .link-page {
      color: $text;

      &:hover {
        color: $ui-color;
      }
    }
  }

  .signin {
    padding-top: 20px;
    border-top: 1px solid #ccc;
    font-size: 14px;
    color: $text-ll;

    .link-signin {
      color: $text;

      &:hover {
        color: $ui-color;
      }
    }
  }

  .btn[disabled] {
    opacity: 0.65;
    background-color: $ui-color;
  }
}

#sidebar-signup .form-signup .form-control {
  border-radius: 0 4px 4px 0;

  &[name='user[verification_code]'] {
    border-radius: 0;
  }
}
