@import 'frontend/base';

#sidebar {
  position: fixed;
  right: -460px;
  background-color: #fff;
  z-index: 101;
}

#sidebar-profile {
  .profile-header {
    padding: 60px 0 50px;
    text-align: center;

    .name {
      margin: 30px 0 20px;
    }
  }

  .profile-links a {
    display: block;
    height: 90px;
    padding: 0 50px;
    line-height: 90px;
    color: #666;
    background-color: #fff;
    @include transition(300ms);

    &:hover {
      background-color: #EFEFEF;
    }

    .glyphicon {
      margin-right: 5px;
    }
  }
}

.form-sign {
  margin: auto;
  padding: 60px 50px;
  width: 460px;
  text-align: center;


  .title {
    margin-bottom: 40px;
    font-size: 18px;
  }

  .form-group {
    margin-bottom: 30px;
  }

  .form-control {
    height: 50px;
  }

  .input-group-addon {
    font-size: 18px;
    color: $text-secondary;
  }

  .btn {
    height: 50px;
    color: #fff;
    font-size: 16px;
    background-color: $ui-color;
    border: none;

    &:hover {
      opacity: 0.8;
    }
  }

  .links {
    margin-top: 40px;
    font-size: 14px;
    color: $text-secondary;

    .link {
      padding: 0 5px;
      color: $text-secondary;

      &:hover {
        color: $ui-color;
      }
    }

    .link-page {
      color: $text;

      &:hover {
        color: $ui-color;
      }
    }
  }

  .signin {
    padding-top: 20px;
    border-top: 1px solid #ccc;
    font-size: 14px;
    color: $text-secondary;

    .link-signin {
      color: $text;

      &:hover {
        color: $ui-color;
      }
    }
  }

  .btn[disabled] {
    opacity: 0.65;
    background-color: $ui-color;
  }
}

#sidebar-signup .form-signup .form-control {
  border-radius: 0 4px 4px 0;

  &[name='user[verification_code]'] {
    border-radius: 0;
  }
}
