.middle-box.text-center.loginscreen.animated.fadeInDown
  %div
    %div
      %h1.logo-name IN+
    %h3 设置安全问题
    %p
    = form_for(@question, url: users_profile_set_question_create_path ) do |f|
      .form-group
        = f.text_field :question, class: 'form-control', placeholder: '问题'
      .form-group
        = f.text_field :answer, class: 'form-control', placeholder: '答案'
      .form-group
      = f.submit '保存修改', class: 'btn btn-primary block full-width m-b'
