<footer>
    <div class="inner">
        <ul class="shopping-info">
            <li> <span class="return-goods"></span> <h5>7 天无理由退货</h5> <h6>7 天无理由退货 请放心购买</h6> </li>
            <li> <span class="exchange-goods"></span> <h5>30 天免费换货</h5> <h6>30 天内如遇质量问题 免费换货</h6> </li>
            <li> <span class="gia-goods"></span> <h5>权威认证证书</h5> <h6>提供GIA & NGTC 双证书</h6> </li>
            <li> <span class="delivery-goods"></span> <h5>全国免运费保险配送</h5> <h6>全场使用顺丰快递</h6> </li>
            <li> <span class="call-goods"></span> <h5>400-7757-188</h5> <h6>全国客服热线</h6> </li>
        </ul>
    </div>
    <div class="inner other">
        <div class="link">
          <a href="/about">关于我们</a><a href="/privacy">隐私条款</a><a href="statement">法律申明</a><a href="/service_1">售后条款</a><a href="#">联系我们</a>
        </div>
        <div class="text">
            <div class="copyright fl">Copyright © Vandodo 2016，深圳市范朵朵和朋友们珠宝有限公司 All Rights Reserved 粤ICP备15062021号-1</div>
            <div class="sns fr">
              <span>关注我们</span>
              <a class="weibo" href="http://weibo.com/fandore"><i></i></a> <a class="weixin" href=""><i></i></a>
            </div>
        </div>
    </div>
</footer>
