<footer class="home-footer">
    <p class="footlink"><a href="">关于范朵朵</a><a href="">自助服务</a><a href="">帮助中心</a><a href="">常见问题</a><a href="">联系我们</a><a href="">法律声明</a></p>
    <p class="copyright">Copyright 1996-2014 深圳市范朵朵和她的朋友们珠宝有限公司 版权所有</p>
    <div class="next-arrow">
        <i class="iconfont">&#xe602;</i>
    </div>
    <div class="two-code">
        <div class="two-code-img">
            <img src="<%= asset_path "twocode.gif" %>"/>
        </div>
        <a href="" class="code-vandodo"></a>
    </div>
    <div class="footer-txt">Register  \  Landed</div>
</footer>
