<footer class="footer">
    <div class="container">
        <p>任何问题可以致电客服电话 400-7757-188 或线上客服咨询， 工作时间：周一至周五9:00-21:00；周六、周日 10:00-18:00，法定节假日休息</p>
        <p>特别申明：VANDODO 正品仅在 VANDODO 官网有售，谨防假冒！</p>
        <div class="more-info">
            <a href="#">关于我们</a> |
            <a href="#">售后条款</a> |
            <a href="#">合作联系</a> |
            <a href="#">隐私条款</a>
            <p>Copyright © Vandodo 2016，All Rights Reserved | 粤ICP备15062021号-1</p>
        </div>
    </div>
</footer>
