<header class="header" id="top">
    <a href="javascript:;" class="menu link-toggle-nav" data-big-slide="nav"></a>
    <a href="/" class="logo">VANDODO</a>
    <div class="toolbar">
        <a href="<%= cart_path(current_cart) %>" class="link-toggle-right-nav link-shopping-cart" data-big-slide="cart">
            <span class="glyphicon glyphicon-shopping-cart" style="margin-right:14px;"></span>购物车
        </a>
        <% if current_user %>
            <a href="javascript:;" class="link-toggle-right-nav" data-big-slide="profile">
                <img src="<%= current_user.avatar.url %>" class="avatar">
            </a>
        <% else %>
            <span class="user">
            <a href="javascript:;" class="link-toggle-right-nav" data-big-slide="signup">注册</a> /
            <a href="javascript:;" class="link-toggle-right-nav" data-big-slide="signin">登录</a>
            </span>
        <% end %>
    </div>
    
</header>
