<header class="header" id="top">
    <h1 class="logo">VANDODO</h1>

    <a href="javascript:;" class="link link-toggle-nav" data-big-slide="nav">
        <span class="glyphicon glyphicon-menu-hamburger"></span>
    </a>

    <div class="toolbar">
        <% if current_user %>
            <a href="javascript:;" class="link link-shopping-cart">
                <span class="glyphicon glyphicon-shopping-cart"></span>
            </a>

            <a href="javascript:;" class="link link-toggle-right-nav" data-big-slide="profile">
                <img src="<%= current_user.avatar.url %>" class="avatar">
            </a>
        <% else %>
            <a href="javascript:;" class="link link-shopping-cart">
                <span class="glyphicon glyphicon-shopping-cart"></span>
            </a>
            <a href="javascript:;" class="link link-toggle-right-nav" data-big-slide="signup">注册</a>
            <a href="javascript:;" class="link link-toggle-right-nav" data-big-slide="signin">登录</a>
        <% end %>
    </div>
</header>
