<header class="header" id="top">
    <div class="container">
        <h1 class="logo">VANDODO</h1>

        <a href="javascript:;" class="link link-toggle-nav">
            <span class="glyphicon glyphicon-menu-hamburger"></span>
        </a>

        <div class="toolbar">
            <% if current_user %>
                <a href="javascript:;" class="link link-shopping-cart">
                    <span class="glyphicon glyphicon glyphicon-shopping-cart"></span>
                </a>

                <div class="btn-group">
                    <a href="javascript:;" class="link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="<%= current_user.avatar.url %>" class="avatar">
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a href="/orders">用户中心</a></li>
                        <li><a href="/orders">我的订单</a></li>
                        <li><a href="/users/profile/edit">账户资料</a></li>
                        <li><a href="/passwords/new">安全设置</a></li>
                    </ul>
                </div>
            <% else %>
                <a href="javascript:;" class="link link-shopping-cart">
                    <span class="glyphicon glyphicon glyphicon-shopping-cart"></span>
                </a>
                <a href="javascript:;" class="link link-signin">注册</a>
                <a href="javascript:;" class="link link-signup">登录</a>
            <% end %>
        </div>
    </div>
</header>
