<nav id="global-nav" class="global-nav">
    <ul>
        <li>
            <a href="/" class="<%= 'active' if @channel == 'home' %>">首页 Home</a>
        </li>
        <li>
            <a href="/products?taxon_name=求婚钻戒" class="<%= 'active' if params[:taxon_name] == '求婚钻戒' %>">求婚钻戒 Engagement</a>
        </li>
        <li>
            <a href="/products?taxon_name=结婚对戒" class="<%= 'active' if params[:taxon_name] == '结婚对戒' %>">结婚对戒 Wedding</a>
        </li>
        <li>
            <a href="/about">品牌 Brand</a>
        </li>
        <li>
            <a href="/service">服务 Service</a>
        </li>
        <li>
            <a href="#">博客 Blog</a>
        </li>
    </ul>

    <a href="javascript:;" class="link-close-nav"><span class="glyphicon glyphicon-remove"></span></a>

    <a href="javascript:;" class="qrcode"></a>
</nav>
