.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    %h2 会员管理
    %ol.breadcrumb
      %li
        = link_to '首页', admin_path
      %li
        = link_to '会员管理', admin_users_path
      %li.active
        %strong 添加会员
  .col-lg-2
.wrapper.wrapper-content
  .row
    .col-lg-12
      .ibox.float-e-margins
        .ibox-title
          %h5 添加会员
        .ibox-content
          = render 'form'
