<form action="<%= sign_in_path %>" accept-charset="UTF-8" method="post">
    <div class="float-title-bar">
        登录 <span class="t-eng">LOGIN</span>
    </div>
    <div class="login-form-wrap">
        <ul class="login-form-box">
            <li>
                <label class="login-icon"><i class="iconfont icon-user"></i></label>
                <input type="text" name="user_login_form[username]" placeholder="手机号/邮箱" class="login-input input-test" />
            </li>
            <li>
                <label class="login-icon"><i class="iconfont icon-password"></i></label>
                <input type="password" name="user_login_form[password]" placeholder="密码" class="login-input input-test" />
            </li>
        </ul>
        <div class="login-btn">
            <input type="submit" value="登录" class="btn-big-block" />
        </div>
        <div class="login-link">
            <a href="<%= users_forget_password_path %>" target="_blank">忘记密码</a>
        </div>
    </div>
</form>
