<div class="cart-header">
    购物车
    <a href="javascript:;" class="link-close-sidebar">
        <span class="glyphicon glyphicon-remove"></span>
    </a>
</div>

<table class="cart-table table">
    <thead>
        <tr>
            <th>商品/规格</th>
            <th></th>
            <th>数量</th>
            <th>金额</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <% @cart.line_items.each do |item| %>
            <tr>
                <th><img src="<%= #这里是图片 %>"></th>
                <td>item.product.name</td>
                <td><%= item.quantity %></td>
                <td><%= number_to_currency item.amount %></td>
                <td>
                    <a href="<%= line_item_path(item) %>" data-method="delete"
                        data-confirm="确认删除？">
                        <span class="glyphicon glyphicon-remove-sign"></span>
                    </a>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>
