.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    %h2 商品管理
    %ol.breadcrumb
      %li
        = link_to '首页', admin_path
      %li
        = link_to '商品管理', admin_products_path
      %li.active
        %strong 添加商品
  .col-lg-2
.wrapper.wrapper-content
  .row
    .col-lg-12
      .ibox.float-e-margins
        .ibox-title
          %h5 添加商品
        .ibox-content
          = render 'form'
