
$text: #4A4A4A; // 标题和正文的字体颜色。
$text-l: #666;
$text-ll: #9B9B9B; // 辅助文字，注释文字的颜色。

$ui-color: #E15F65;
$link-color: #5AABD7;
$warn: #D0021B;
$warn-hover: #E68F8F;
$success: #64A21D;


@mixin transition($x: 300ms, $y: all) {
  -webkit-transition: $y $x ease-in-out;
  -moz-transition: $y $x ease-in-out;
  transition: $y $x ease-in-out;
}
