@import 'frontend/base';

body {
  font-family: "微软雅黑", arial, sans-serif;
  font-size: 16px;
  color: $text;
  overflow-x: hidden;
}

html.fp-enabled {
  overflow: hidden;
  height: 100%;
}

html.turbolinks-progress-bar::before {
  background-color: #74596F !important;
  height: 5px !important;
}

a {
  @include transition(300ms, color);

  &:hover {
    color: $ui-color;
    text-decoration: none;
  }
}

.wrapper {
  position: relative;
}

.page {
  min-height: 900px;
}

#mask {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  background-color: rgba(0,0,0,0.7);
}
