@import 'frontend/base';

html {
  font-size: 16px;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial;
  font-size: 16px;
  color: $text;
  background-color: #fefefe;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.footer {
  padding: 20px 30px;
}
