<h2>GIA权威认证</h2>
<p>VANDODO钻石戒指均附有GIA权威证书。</p>
<p>VANDODO提供的钻石戒指均由国际最权威美国宝石协会（简称GIA）进行分析并定级，这些鉴定组织以其最严谨、最一致和最公正的鉴定钻石而享誉全球。</p>
<h3>钻石鉴定证书的由来</h3>
<p>美国宝石学院(Gemological Institute of America简称GIA)于1931年在洛杉矶成立。GIA是一个非营利事业的组织，由美国各知名的珠宝商及社会名流共同支持而设立。所以GIA是美国珠宝业者所共有共享的鉴定研究机构，其附属机构如GTL则为业者提供了鉴定服务，普遍为各界所信任。</p>
<h3>国际权威证书</h3>
<ul>
    <li>GIA钻石等级证书，由美国宝石学院(GIA)签订发行。</li>
    <li>HRD钻石等级证书，由比利时钻石高层议会签订发行。</li>
    <li>AGS钻石等级证书，由美国宝玉石学会签订发行。</li>
    <li>IGI钻石等级证书，由国际宝石学院签订发行。</li>
    <li>EGL钻石等级证书，由欧洲宝石学院签订发行。</li>
</ul>
<h3>如何网上查询GIA钻石证书</h3>
<p>您可以登陆GIA的官方网站进行查询<a href="http://www.gia.edu/CN" rel="nofollow">http://www.gia.edu/CN</a>。输入证书编号，点击前往。</p>
<p><%= image_tag "redesign/gia-check-1.jpg", alt: 'GIA证书查询' %><%= image_tag "redesign/gia-check-2.jpg", alt: 'GIA证书查询' %></p>
<p>请注意，在购买钻石前，应该认真查阅钻石证书的复印件或副本，因为这是您确保钻石质量和价值的唯一保证。</p>
