<h2>全额保价配送</h2>
<p>凡购买VANDODO商品将会按订单总价全额保价配送，确保产品安全稳妥送达您手中，您无须承担任何配送风险。<p>
<p>VANDODO默认使用顺丰速运，顺丰不到地址将由EMS发出。</p>
<h3>收货注意事项：</h3>
<p>VANDODO售出商品属贵重物品，勿必请本人签收，签收时请确保外包装保价标签未被撕毁且包装完好。有任何问题您可以第一时间联系VANDODO客服人员帮您解决。</p>
