<h2>30天免费换货</h2>

<p>自您收到商品之日起30日内发生非人为损坏，可自行选择换货或者维护。</p>
<p>如换货，您可在VANDODO官网用户中心售后服务功能区域提交您的换货请求，24小时内会有专人与您联络换货事宜，或者拨打400客服专线400-7757-188与客服人员预约换货服务。</p>
<h3>详细条款：</h3>
<p>30天免费换货仅对VANDODO范朵朵官网认证销售的商品有效。</p>
<p>用户30天免费换货不包含以下行为：证书遗失或损毁、主钻石遗失或损坏、销售发票遗失或损毁等情况。</p>
<p>30天免费换货，只针对产品的戒托，不包含替换其他钻石，产品将保持原产品的钻石配置</p>

<h3>运费说明：</h3>
<p>换货费用由VANDODO范朵朵珠宝承担。</p>
