<h2>7天无理由退货</h2>
<p>VANDODO在线商店销售的珠宝类产品自收货之日起7日内（含），在商品完好的情况下，可申请七日无理由退货，七日无理由退货产生的运费由VANDODO承担。消费者的商品价款自收到退回商品之日起5个工作日内返还至订单对应支付帐户。</p>

<h3>回寄地址</h3>
<ul>
<li>范朵朵售后部地址：广东省深圳市罗湖区田贝三路46-68号</li>
<li>邮编：518000</li>
<li>联系人：王小姐</li>
<li>电话：13417387105</li>
</ul>

<h3>详细条款：</h3>

<p>1、七天无理由退货仅对VANDODO范朵朵珠宝认证网站销售的商品有效。</p>
<p>2、用户七天无理由退货不包含以下行为：发票遗失、GIA证书人为因素损毁或遗失、主钻石人为因素损毁或遗失。</p>
<p>3、退货请使用空白纸张写明订单号及退货具体情况并附上联系人信息，放在外包装盒寄回即可。</p>
