<div class="popwindow">
    <div class="float-title-bar">
        编辑收货地址
    </div>
    <div class="sub-scroll">
        <div class="padd30">
            <div class="address-form">
                <div class="address-box">
                    <ul class="address-ul">
                        <li>
                            <input type="text" name="" id="" value="收货人" class="input-style  input-width input-test" />
                            <input type="text" name="" id="" value="联系电话" class="input-style input-width input-test" />
                        </li>
                        <li>
                            <textarea name="" rows="5" cols="" placeholder="省份，城市，区县，街道编号/名称，楼宇名称" class="textarea-style" style="width:600px;"></textarea>
                        </li>
                        <li>
                            <input type="button" id="" value="保存收货地址" class="btn-m-purple address-btn" />
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
