@import 'frontend/base';

#frontend-products-index {
  .header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    background-color: transparent;
    z-index: 9;
  }

  .product-group {
    font-size: 0;
    &:nth-child(odd) .product:nth-child(odd) .product-bg {
      background-color: #F5F5F5;
    }

    &:nth-child(even) .product:nth-child(even) .product-bg {
      background-color: #F5F5F5;
    }
  }

  .product {
    position: relative;
    display: inline-block;
    width: 50%;
    height: 480px;
    font-size: 16px;

    &:hover {
      .product-bg {
        opacity: 0.3;
        border-color: #999;
      }

      .product-info {
        opacity: 1;
      }
    }
  }

  .product-bg {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 300px auto;
    background-color: #fff;
    border: 15px solid transparent;
    @include transition(300ms);
  }

  .product-info {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 120px;
    margin: auto;
    opacity: 0;
    color: $text;
    text-align: center;
    @include transition(300ms, opacity);

    .price {
      font-size: 24px;
      font-weight: bold;
    }

    .name {
      margin-bottom: 20px;
      font-size: 18px;
      font-weight: bold;
    }

    .link-group {
      font-size: 0;

      > span {
        display: inline-block;
        width: 80px;
        height: 30px;
        line-height: 30px;
        font-size: 16px;
        color: #fff;
        @include transition(300ms, opacity);

        &:first-child {
          background-color: #000;
        }

        &:last-child {
          background-color: $ui-color;
        }

        .glyphicon {
          margin-right: 3px;
          font-size: 14px;
        }
      }
    }
  }
}
