@import 'frontend/base';

#frontend-products-index {
  .page{
    background:image-url('redesign/propose-section.jpg');
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position:center;
    padding:20px 0;
  }

  @media screen and (min-width:1200px){
    .swiper-container{
      position: relative;
      width:1200px; 
      margin: 0 auto 20px;
      cursor: move;
      cursor: -webkit-grab;
      cursor: grab;
      img{
        width:100%;
      }
    }
  }
  @media screen and (min-width:768px) and (max-width:1200px){
    .swiper-container{
      position: relative;
      width:100%;
      margin:0 auto 20px;
      cursor: move;
      cursor: -webkit-grab;
      cursor: grab;
      img{
        width:100%;
      }
    }

  }

  .product-list{
    position: relative;
    width:90%; 
    margin: 0 auto;
  }

  .product {
    position: relative;
    display: inline-block;
    width: 50%;
    height: 480px;
    font-size: 16px;

    &:hover {
      .product-bg {
        opacity: 0.3;
        border-color: #999;
      }

      .product-info {
        opacity: 1;
      }
    }
  }

  .product-bg {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 500px auto;
    border: 15px solid transparent;
    @include transition(300ms);
  }

  .product-info {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 120px;
    margin: auto;
    opacity: 0;
    color: $text;
    text-align: center;
    @include transition(300ms, opacity);

    .price {
      font-size: 24px;
      font-weight: bold;
    }

    .name {
      margin-bottom: 20px;
      font-size: 18px;
      font-weight: bold;
    }

    .link-group {
      font-size: 0;

      > span {
        display: inline-block;
        width: 80px;
        height: 30px;
        line-height: 30px;
        font-size: 16px;
        color: #fff;
        @include transition(300ms, opacity);

        &:first-child {
          background-color: #000;
        }

        &:last-child {
          background-color: $ui-color;
        }

        .glyphicon {
          margin-right: 3px;
          font-size: 14px;
        }
      }
    }
  }
}
