@import 'frontend/base';

#frontend-products-show {
  .header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9;
    background-color: transparent;
  }

  .link-next {
    position: absolute;
    right: 0;
    bottom: 20px;
    left: 0;
    margin: auto;
    width: 30px;
    height: 44px;
    background: image-url('redesign/mouse.png') no-repeat center;
    z-index: 1;
  }

  .section-jumbotron {
    background-color: #E7E7ED;
  }

  .section-product > .col-xs-6:last-child {
    padding-right: 30px;
  }

  .carousel-control {
    width: 60px;
    height: 60px;
    margin: auto;
    background-image: none;
  }

  .carousel-indicators li {
    border-color: $text;

    &.active {
      background-color: $text;
    }
  }

  .form-inline {
    .price {
      margin-top: 50px;
      font-weight: bold;
      font-size: 28px;
    }

    .name {
      font-size: 24px;
      margin: 15px 0;
    }

    label.btn {
      color: $text;
      border-color: #EFEFEF;
      background-color: #FCFCFC;
      box-shadow: none;

      &.active {
        color: #fff;
        border-color: $ui-color;
        background-color: $ui-color;
      }
    }

    .form-buttons {
      margin-top: 50px;
    }

    .btn-shopping {
      margin-right: 20px;
      color: #fff;
      font-size: 16px;
      background-color: $ui-color;
      border-color: $ui-color;
    }

    .btn-collect {
      font-size: 16px;
      color: $text;
    }
  }

  .form-engaement-ring .product-information {
    .col-xs-6 {
      padding: 0;
      max-width: 200px;
    }

    label[for='product-size'],
    label[for='lettering'] {
      width: 100px;
    }

    .link-table {
      position: absolute;
      margin-left: 10px;
      font-size: 12px;
    }
  }

  .form-wedding-rings .product-information {
    label {
      text-align: right;
    }

    .link-table {
      font-size: 14px;
    }
  }

  .product-information {
    width: 100%;
    font-size: 14px;
    line-height: 30px;

    .row {
      margin: 0 0 10px;
    }

    label {
      font-weight: normal;
    }

    .form-control {
      width: 70px;
      height: 28px;
      padding: 0 12px;
      vertical-align: top;
    }

    .lettering {
      width: 200px;
    }
  }

  .table {
    text-align: center;

    td {
      vertical-align: middle;
    }

    p {
      margin: 0;
    }
  }
}
