@import 'frontend/base';

#frontend-products-show {
  .header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9;
    background-color: transparent;
  }

  .section-jumbotron {
    background-color: #E7E7ED;
  }

  .section-product > .col-xs-6:last-child {
    padding-right: 30px;
  }

  .carousel-control {
    width: 60px;
    height: 60px;
    margin: auto;
    background-image: none;
  }

  .carousel-indicators li {
    border-color: $text;

    &.active {
      background-color: $text;
    }
  }

  .form-group {
    line-height: 35px;

    .col-sm-4,
    .col-xs-6 {
      padding-left: 0;
      max-width: 200px;
    }

    .col-sm-8 {
      margin-left: -42px;
    }

    label {
      padding-left: 0;
      font-weight: normal;
    }

    .form-control {
      width: 70px;
      height: 30px;
    }

    #lettering {
      width: 200px;
    }
  }

  .link-table {
    position: absolute;

    margin-left: 10px;
    font-size: 12px;
  }

  .table {
    text-align: center;

    td {
      vertical-align: middle;
    }

    p {
      margin: 0;
    }
  }
}
