@import 'frontend/base';

#frontend-products-show {
  .page{
    padding:20px 0;
  }


  @media screen and (min-width:1200px){
    .section-jumbotron{
      position: relative;
      overflow: hidden;
      width: 1200px; 
      margin: 0 auto;
      img{
        width:1200px
      }
    }

  }
  @media screen and (min-width:768px) and (max-width:1200px){
    .section-jumbotron{
      position: relative;
      width:100%;
      overflow: hidden;
      img{width:100%;}
    }

  }
  @media screen and (min-width:1200px){
    .section-product{
      position: relative;
      overflow:hidden;
      clear:both;
      width:1200px; 
      margin: 0 auto;
      .left{
        overflow:hidden;
        img{width:100%}
      }
          
    }
  }
  @media screen and (min-width:768px) and (max-width:1200px){
    .section-product{
      position: relative;
      overflow:hidden;
      clear:both;
      width:100%;
      .left{
        overflow:hidden;
        img{width:100%}
      }
      
    }
  }
  @media screen and (min-width:1200px){
    .product-detail{
      position: relative;
      overflow: hidden;
      width: 1200px; 
      margin: 0 auto;
      img{width:1200px}
    }

  }
  @media screen and (min-width:768px) and (max-width:1200px){
    .product-detail{
      position: relative;
      width:100%;
      overflow: hidden;
      img{width:100%;}
    }

  }

  .section-jumbotron,.section-product,.product-detail {
    background-color: #fff;
  }
  
 .section-jumbotron{
    margin-bottom:20px;background:none;
    .swiper-hd{
      cursor: move;
      cursor: -webkit-grab;
      cursor: grab;
    }
  }
  .section-product{
    min-height:600px;
    hr{margin:15px 0;}
    .left{
      margin-top:160px;
        cursor: move;
        cursor: -webkit-grab;
        cursor: grab;
      }
    }
  .section-product > .col-xs-6:last-child {
    padding-right: 30px;
  }


  .product-detail{
    min-height:500px;
    margin-top:20px;
    #tabTitle {
      padding: 10px 50px 0 50px;
      li{ 
        a{line-height: 32px;color:#111;font-size:16px;}
      }      
    }
    #tabContent{
      img{width:100%}
      .property{
        padding:100px 100px;
        border-bottom:1px #eee solid;
        clear:both;
        overflow:hidden;
        .row{
          width:50%;
          float:left;
          span{float:left}
          .title{width:200px;}
          h3{font-size:24px;}
          p{font-size:16px;line-height:32px;}
        }        
      }
    }
  }


  .form-inline {
    .price {
      font-size: 18px;
      margin: 15px 0;
      
    }

    .name {
      margin-top: 50px;
      font-size: 24px;
    }

    label.btn {
      color: $text;
      border-color: #EFEFEF;
      background-color: #FCFCFC;
      box-shadow: none;

      &.active {
        color: #fff;
        border-color: $ui-color;
        background-color: $ui-color;
      }
    }

    .form-buttons {
      margin: 20px 0;
    }

    .btn-shopping {
      margin-right: 20px;
      color: #fff;
      font-size: 14px;
      background-color: $ui-color;
      border-color: $ui-color;
    }

    .btn-collect {
      font-size: 14px;
      color: $text;
    }
  }

  .form-engaement-ring .product-information {
    .col-xs-6 {
      padding: 0;
      max-width: 200px;
    }

    label[for='product-size'],
    label[for='lettering'] {
      width: 100px;
    }

    .link-table {
      position: absolute;
      margin-left: 10px;
      font-size: 12px;
    }
  }

  .form-wedding-rings .product-information {
    label {
      max-width: 100px;
    }

    .link-table {
      font-size: 14px;
    }
  }

  .product-information {
    width: 100%;
    font-size: 14px;
    line-height: 30px;

    .row {
      margin: 0 0 10px;
    }

    label {
      font-weight: normal;
    }

    .form-control {
      width: 70px;
      height: 28px;
      padding: 0 12px;
      vertical-align: top;
    }

    .lettering {
      width: 200px;
    }

    select.form-control {
      padding: 0;
      font-size: 12px;
    }
  }

  .table {
    text-align: center;

    td {
      vertical-align: middle;
    }

    p {
      margin: 0;
    }
  }


}
