<%= render 'layouts/frontend/header' %>

<div class="sub-container">
    <div class="clearfloat">
        <%= render 'frontend/users/sidebar' %>

        <div class="sub-mainright">
            <div class="box-white min-h820">
                <div class="user-title-bar clearfloat">
                    <div class="t-left">修改密码</div>
                </div>
                <div class="padd30">
                    <div class="form-wrap">
                        <ul>
                            <li class="form-box">
                                <label class="form-label">密码</label>
                                <input type="password" size="40" class="form-input-style2 " />
                            </li>
                            <li class="form-box">
                                <label class="form-label">新密码</label>
                                <input type="password" size="40" class="form-input-style2 " />
                            </li>
                            <li class="form-box">
                                <label class="form-label">重复新密码</label>
                                <input type="password" size="40" class="form-input-style2 " />
                            </li>

                            <li class="form-box">
                                <input type="button" name="" id="" value="提  交" class="btn-red2 mt20" />
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<%= render 'layouts/frontend/footer' %>
