.middle-box.text-center.loginscreen.animated.fadeInDown
  %div
    %div
      %h1.logo-name IN+
    %h3 重置密码
    %p 
    = form_for(@password, url: users_password_update_path) do |f|
      .form-group
        = f.password_field :password, class: 'form-control', placeholder: '密码'
      .form-group
        = f.password_field :password_confirmation, class: 'form-control', placeholder: '重复密码'
      .form-group
        %input{type: "hidden", value: @user.id, name: "user[user_id]"}
      = f.submit '重置密码', class: 'btn btn-primary block full-width m-b'
      %p.text-muted.text-center
        %small Already have an account?
    %p.m-t
      %small Inspinia we app framework base on Bootstrap 3 &#169; 2014

